# Ignore everything on the "control" channel unless set below
ignore: ch 16 note 0..127
ignore: ch 16 cc 0..127

# Mapping for nanoKONTROL & Launchpad Pro MK3 w/custom layout
volume[1..5]:   ch 16 cc 2..6
volume[6..7]:   ch 16 cc 8..9
volume[8..9]:   ch 16 cc 11..12
  # yes, CCs 7 & 10 are skipped

mute[1..9]:     ch 16 cc 23..31
arm[1..9]:      ch 16 cc 33..41

arm:            ch 16 cc 44         # REC
keep:           ch 16 cc 45         # PLAY
clear:          ch 16 cc 46         # STOP
bad:            ch 16 cc 47         # REW
good:           ch 16 cc 48         # FF
rearm:          ch 16 cc 49         # LOOP

# Mapping for Boppad
keep:           ch 9 note 48        # upper left pad

# Mapping for LaunchPad Pro MK3 in Note mode
#  -- these are the side buttons, which come on the :2 port
#  -- left side, top to bottom after octave shift buttons
clear:          ch 1 cc 60
arm:            ch 1 cc 50
good:           ch 1 cc 40
bad:            ch 1 cc 30
rearm:          ch 1 cc 20
keep:           ch 1 cc 10

# General input controllers
keep:           cc 64               # treat sustain pedal as the keep function

