# The mappings here work with the nanoKONTROL (nK) controllers.
# There is also a Launchpad Pro MK3 custom layout with the same assignments.

# Modify this file to match the cc/notes of the controls on your device(s)
# that you want to use to control bicycle.

# All CCs should be "momentary" - they send 127 when pressed, 0 when released,
# _except_ for the CCs used for mutes, which should be "toggle" (press on,
# press off).


# It is a good idea to have your main bicycle controls on a sepearate channel,
# though it isn't required. If you do, start with these two lines, changing
# the channel to match your "control" channel.  Otherwise comment them out.

    ignore: ch 16 note 0..127
    ignore: ch 16 cc 0..127


# Main Controls

    clear:  ch 16 cc 46                             # on nK: STOP
    arm:    ch 16 cc 44                             # on nK: REC
      # clear erases all layers, arm does so on the next note you play
      # keep these out of "accidental hit" territory

    keep:   ch 16 cc 45                             # on nK: PLAY
    rearm:  ch 16 cc 49                             # on nK: LOOP
      # keep (and start looping now) the just recorded layer....
      # or drop the recording and rearm the layer for a new "take"
      # you want these near your main playing surface

    good:   ch 16 cc 48                             # on nK: FF
    bad:    ch 16 cc 47                             # on nK: REW
      # mark bicycle's judgement of BPM or loop ratio good or bad
      # these last two are optional, you don't need them


# Per Layer controls

    mute[1..9]:     ch 16 cc 23..31                 # on nK: upper buttons
      # mutes a layer when active, so configure your controller to have these
      # in "toggle" mode

    arm[1..9]:      ch 16 cc 33..41                 # on nK: lower buttons
      # when armed, the layer keeps playing and looping until you play
      # the next note, which then starts a new recording into the layer;
      # press this twice quickly to immediatly clear the track,

    volume[1..5]:   ch 16 cc 2..6                   # on nK: faders
    volume[6..7]:   ch 16 cc 8..9
    volume[8..9]:   ch 16 cc 11..12
      # yes, CCs 7 & 10 are skipped because the nK's mapping is bizarre


# Sometimes it is nice to use controls or notes on the performance controller
# to trigger looper functions. Keep is an especially nice function to have
# at hand.

# Mapping for Boppad

    keep:           ch 9 note 48                    # upper left pad
      # I dedicate one pad to keep. It times better if you can play the keep
      # function in the same manner as the notes you are playing. Here, I can use
      # the drum stick to hit keep on the downbeat.

      # Notice that this is a note, not a cc!

# Mapping for LaunchPad Pro MK3 in Note mode
#  -- these are the side buttons, which come on the :2 port
#  -- left side, top to bottom after octave shift buttons

    clear:          ch 1 cc 60
    arm:            ch 1 cc 50
    good:           ch 1 cc 40
    bad:            ch 1 cc 30
    rearm:          ch 1 cc 20
    keep:           ch 1 cc 10

# General input controllers

    keep:           cc 64
      # treat sustain pedal as the keep function


# Any notes or CCs not mapped (or ignored) above, will be recorded into the
# looper's layers.
