# all comment
   # indented comment

no colon
:no action
frob: # bad action
ignore:
arm:
clear:
keep:
rearm:
good:
bad:
arm[]: # bad action
arm[1]:
arm[1..8]:
arm [1]:
mute: # missing layer
mute[1]:
mute[1..8]:
volume: # missing layer
volume[1]:
volume[1..8]:
ignore: ch 1 note 1
ignore: note 2
ignore: ch 2 note 1..9
ignore: note 1..9
ignore: ch 1 cc 101
ignore: cc 102
ignore: ch 2 cc 101..109
ignore: cc 101..109
ignore: ch note 3 # missing channel
ignore: ch * note 3 # bad channel
ignore: note 300 # bad number
ignore: note 10..5 # bad range
ignore: note 10..500 # bad number
